* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;

  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
main,
footer {
  border: 1px solid red;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  background-color: #4387ee;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
}

.nav-item a {
  text-decoration: none;
  transition: color 0.2s;
}

.nav-item a:hover {
  color: #801919;
}
