* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f3f3e9;

  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header {
  background-color: #6917b6;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
}

.nav-item a {
  text-decoration: none;
  transition: color 0.2s;
}

.nav-item a:hover {
  color: #fff700;
}

.main {
  margin-bottom: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%; /*calc(50% - 20px);*/
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #6917b6;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 7px solid #6917b6;
}

.profile-logo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 0 1px 4px #6917b6;
}

.profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #6917b6;
}

.section-subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #6917b6;
}

.section-list {
  list-style: none;
}

.list-item {
  padding-left: 5px;
  font-size: 22px;
  letter-spacing: 0.5px;
}

.list-item a {
  text-decoration: none;
  color: #6917b6;
}

.list-item a:hover {
  transition: color 0.2s;
  color: #696833;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
